@model GGus.Web.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1 class="font-weight-lighter text-light">User Details</h1>

<hr />
<div>
    <table class="table-striped styleTable">
        <thead>
            <tr>
                <td><div>User Id</div></td>
                <td><div>User Name</div></td>
                <td><div>Email</div></td>
                <td><div>Age</div></td>
                <td><div>Phone Number</div></td>
                <td><div>Type of user</div></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    @Html.DisplayFor(model=> model.Id)
                </th>
                <th>
                  @Html.DisplayFor(model => model.Username)
                </th>
                <th>
                 @Html.DisplayFor(model => model.Email)
                </th>
                <th>
                @Html.DisplayFor(model => model.Age)
                </th>
                <th>
                 @Html.DisplayFor(model => model.PhoneNumber)
                </th>
                <th>
                 @Html.DisplayFor(model => model.Type)
                </th>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-outline-secondary" asp-action="Index">Back to List</a>
</div>
