@model IEnumerable<GGus.Web.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/Table.css">
<h1 class="font-weight-lighter text-light">Category Index</h1>

<form asp-action="Search">
    <input name="query" id="query" autocomplete="off" />
    <input type="submit" />
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{

    <script src="~/js/Search.js"></script>

}

