@model IEnumerable<GGus.Web.Models.Cart>
@{
    ViewData["Title"] = "Index";
}

<h1 class="font-weight-lighter text-light">Carts Index</h1>
<br />
<form asp-action="SearchCart">
    <input name="query" id="query" placeholder="Enter a value to search" autocomplete="off" />
    <input type="submit" value="search" class="btn btn-secondary" />
</form>
<br />
<table class="table-striped styleTable">
    <thead>
        <tr>
            <th>
                <div>Cart Id</div>
            </th>
            <th>
                <div>User Name</div>
            </th>
            <th>
                <div>Total Price</div>
            </th>
            <th>
                <div>Products</div>
            </th>
            <th>
                <div>Number of Products</div>
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @foreach (var i in item.Products)
                    {
                        @Html.DisplayFor(modelItem => i.Name) <br />}
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Products.Count)
                </td>

                <td>
                    <div class="btn-group">
                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>


</table>

@section Scripts{

    <script src="~/js/SearchCart.js"></script>

}

